<section>
<form>
  <input type='file'>
  <p id='demo' class='demoButton'> Upload File </p>
</form>
<br><br>
<img id='loading' src='./images/ajax-loader.gif' alt='loading'>
<h3 id='upload'> File Uploaded </h3>


</section>
